<div class="row">
  <div class="span10">
    <%= form_for(@topic) do |f| %>
        <%= f.hidden_field :board_id %>
        <% if @topic.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

              <ul>
                <% @topic.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field">
          <%= f.label :subject %>
          <%= f.text_field :subject, class: 'span6' %>
        </div>

        <%= f.fields_for :body_post do |b| %>
            <div class="field">
              <%= b.label :body %>
              <%= b.text_area :body, class: 'span6', rows: 20 %>
            </div>
        <% end %>

        <div class="actions">
          <%= f.submit %>
        </div>
    <% end %>

  </div>
</div>